body{
    background-color: rgb(213, 230, 255);
}
h1{
    text-align: center;
    font-size: 50px;
    color: navy;
}

div{
    margin:20px;
    text-align: center;
}

.sub{
    margin: 50px;
}
.submit{
    width: 80px;
    height: 50px;
    background-color: navy;
    color: azure;
    border: none;
    border-radius:50px;
    font-size: 20px;
}

.submit:hover {
    background-color: aqua;
    color:white;
}